<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/extraction.css')}}">
    <title>Document extractor</title>
</head>
<body>
    <h1>Draw rectangles on document</h1>
    <div class="container">
        <div id="shadow-box">
            <div id="content-box">
                <img src="{{url_for('get_media', sess_id=sess_id)}}?e=1" class="pdf" alt="pdf">
            </div>
        </div>
    </div>
    <script src="{{url_for('static', filename='js/draw.js')}}"></script>
</body>
</html>