<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/pdf_convert.css')}}">
    <title>Choose PDF</title>
</head>
<body>
    <div class="container">
        <div class="sub-ctn">
            <h1>Extract data from PDF</h1>
            
            <div>
                <form action="{{url_for('extraction')}}" method="post" class="drop" enctype='multipart/form-data'>
                    <input type="button" value="Soumettre" class="next-btn">
                    <div class="drop-zone">
                        <div class="load">
                            <img src="{{url_for('static', filename='img/bubble-loading.svg')}}" class="loading" style="display: none;" alt="load">
                        </div>
                        <input type="file" name="pdfs[]" id="pdf-file" required multiple accept=".pdf,.png,.jpg">
                        <input type="hidden" name="sess_id" value="{{sess_id}}">
                        <div class="drop-info">
                            <img src="{{url_for('static', filename='img/folderwithdocuments_120818.svg')}}" class="icon-doc hiding" alt="docs">
                            <h2 class="lbl-file">Please load or drop the PDF files you want extract data from</h2>
                        </div>
                        <div class="btn-dload-div">
                            <button type="button" class="btn-dload json">Download JSON</button>
                            <button type="button" class="btn-dload csv">Download CSV</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src="{{url_for('static', filename='js/handleDZoneShape.js')}}"></script>
    <script src="{{url_for('static', filename='js/sendTestFiles.js')}}"></script>
    <script>
        let DloadJSONBtn = document.querySelector('.btn-dload.json');
        let DloadCSVBtn = document.querySelector('.btn-dload.csv');

        DloadCSVBtn.addEventListener('click', e => {
            let urlDload = "{{url_for('download_result', sess_id=sess_id, type='CSV')}}";
            location.href = urlDload;
        })

        DloadJSONBtn.addEventListener('click', e => {
            let urlDload = "{{url_for('download_result', sess_id=sess_id, type='JSON')}}";
            location.href = urlDload;
        })

    </script>
</body>
</html>